{% extends 'layouts/app.twig' %}
{% block pageclass %}home{% endblock %}

{% block content %}
    
{# Hero Section #}

<section class="hero">
    <div class="hero__container container">
        <h1>Your Career Path<br/>
            <span>Starts Here</span></h1>
        <h3>at <strong>The Landscape Effects Group of Companies</strong></h3>

        <img src="/assets/img/group-logos.png" alt="Landscape Effects Design Build, Landscape Effects Property Management, Rochester Place Golf Club & Resort, Parkside Grille, SYNLAWN FX, Innovative Lifescapes, The Drive Magazine" draggable="false">
    </div>
</section>

{# End Hero Section #}

{# About Section #}

<section class="about">
    <div class="about__container container">
        <h2>#TeamLFX</h2>
        <p><strong>We sincerely believe that you should love what you do.</strong></p>
        <p>One of our core business strategies is delivering happiness to our team members, and part of that involves aligning outstanding people with the careers that are right for them.</p>
        <p>With such a diverse group of companies comes an equally diverse amount of career opportunities - we’ve got something for everyone. Whether you’re a homebuilder, bartender, truck driver, journalist, bookkeeper, or just like working with your hands, you’ll find your fit in The Landscape Effects Group of Companies.</p>
        <p>At The Landscape Effects Group of Companies, we believe in never embracing the status quo. We make our own rules. This is the same type of thinking that we apply to finding new team members. Instead of us telling you what career opportunities we have available, we want you to tell us what you’re passionate about and we’ll find the right path for you.</p>
        <p><strong>But first, we want to tell you a little bit about us...</strong></p>
        <p class="sign-up"><strong>Ready to sign up now?!</strong></p>
        <a href="#application">Skip to the end<br/>
            <i class="fas fa-caret-down"></i>
        </a>
    </div>
</section>

{# End About Section #}

{# LFX Group Section #}

<section class="lfx-group">
    <div class="lfx-group__container container">
        <div class="column-6 content-left">
            <h2>The Landscape Effects Group of Companies.</h2>
            <p>Sprouting from the roots of a small landscaping company nearly 30 years ago, The LFX Group has evolved into an extraordinarily diverse network of companies across a number of industries, from landscape design to manufacturing to hospitality to magazine publication and more.</p>
            <p>We’ve established our roots in Windsor-Essex and we love our community. We think you will too. We always encourage people from all over Ontario (and beyond!) to come discover what Windsor-Essex and The Landscape Effects Group of Companies has to offer. And for those who already live here, we’re confident that, in the right career fit and working with the right people, you’ll fall in love with Windsor-Essex all over again.</p>
            <p><strong>Let’s take a look at our companies...</strong></p>
        </div>

        <div class="column-6 images-right">
            <img src="/assets/img/about/1.png" draggable="false">
            <img src="/assets/img/about/2.png" draggable="false">
            <img src="/assets/img/about/3.png" draggable="false">
            <img src="/assets/img/about/4.png" draggable="false">
            <img src="/assets/img/about/5.png" draggable="false">
            <img src="/assets/img/about/6.png" draggable="false">
        </div>
    </div>
</section>

{# End LFX Group Section #}

{# Landscape Effects Section #}

<section class="landscape-effects">
    <div class="landscape-effects__container container">
        <div class="column-6 images-left">
            <img src="/assets/img/landscape-effects/1.png" draggable="false">
            <img src="/assets/img/landscape-effects/2.png" draggable="false">
            <img src="/assets/img/landscape-effects/3.png" draggable="false">
        </div>

        <div class="column-6 content-right">
            <img src="/assets/img/landscape-effects/logo.png" alt="Landscape Effects Group - Architecture, Design, Landscaping" draggable="false">
            <h2>Landscape Effects</h2>
            <h3>Design Build</h3>
            <p>An award winning landscape Design and Build company based in Windsor, Ontario. With almost 30 years of experience, Landscape Effects Design Build is one of Southwestern Ontario’s premier landscaping companies, with the capabilites and solutions to deliver stunning landscapes for clients of any size.</p>
            <a href="http://landscapefx.com/" target="_blank">Visit website</a>

            <h4>Who we hire:</h4>
            <ul>
                <li>General Labourers</li>
                <li>Crew Leaders</li>
                <li>Landscape Designers</li>
                <li>Equipment Operators</li>
            </ul>
        </div>
    </div>
</section>

{# End Landscape Effects Section #}

{# Property Management Section #}

<section class="prop-management">
    <div class="prop-management__container container">
        <div class="column-6 content-left">
            <img src="/assets/img/property-management/logo.png" alt="Landscape Effects Property Management Inc." draggable="false">
            <h3>Landscape Effects</h3>
            <h2>Property Management</h2>
            
            <p>One of Canada’s largest snow & ice management companies by volume, Landscape Effects Property Management specializes in providing timely, efficient, and professional snow removal services to a wide variety of businesses, institutions, and municipalities across Ontario.</p>
            <a href="http://landscapefx.com/" target="_blank">Visit website</a>

            <h4>Who we hire:</h4>
            <ul>
                <li>General Labourers/Snow Shovellers</li>
                <li>Portfolio Managers</li>
                <li>Mechanics</li>
                <li>Equipment Operators</li>
                <li>Truck Drivers</li>
            </ul>
        </div>

        <div class="column-6 images-right">
            <img src="/assets/img/property-management/1.png" draggable="false">
            <img src="/assets/img/property-management/2.png" draggable="false">
            <img src="/assets/img/property-management/3.png" draggable="false">
        </div>
    </div>
</section>

{# End Property Management Section #}

{# Rochester Place Section #}

<section class="rochester-place">
    <div class="rochester-place__container container">
        <div class="column-6 images-left">
            <img src="/assets/img/rochester-place/1.png" draggable="false">
            <img src="/assets/img/rochester-place/2.png" draggable="false">
            <img src="/assets/img/rochester-place/3.png" draggable="false">
        </div>

        <div class="column-6 content-right">
            <img src="/assets/img/rochester-place/logo.png" alt="Rochester Place Golf Club & Resort" draggable="false">
            <h2>Rochester Place</h2>
            <h3>Golf Club & Resort</h3>
            <p>A vibrant new leisure and lifestyle resort, coupled with one of best golf courses in Windsor-Essex. Rochester Place Resort offers a fully staffed swimming pool, marina, activities center. and so much more. You truly have to visit to experience what all of the excitment is about.</p>
            <a href="https://rochesterplace.com/" target="_blank">Visit website</a>

            <h4>Who we hire:</h4>
            <ul>
                <li>Groundskeepers</li>
                <li>Security</li>
                <li>Event Coordinators</li>
                <li>Sales & Marketing</li>
                <li>Maintenance</li>
            </ul>
        </div>
    </div>
</section>

{# End Rochester Place Section #}

{# Parkside Grille Section #}

<section class="parkside">
    <div class="parkside__container container">
        <div class="column-6 content-left">
            <img src="/assets/img/parkside/logo.png" alt="Parkside Grille" draggable="false">
            <h2>Parkside Grille</h2>
            
            <p>This is not your average golf course club house. Parkside Grille is an award winning bar and restaurant that offers a little something for everyone. With a focus on locally-sourced ingredients, the menu is all about flavour, freshness, and flair, with an eclectic gourmet mix of options ranging from burgers, sandwiches, and wraps to succulent, multi-course dinners.</p>
            <a href="https://rochesterplace.com/restaurant" target="_blank">Visit website</a>

            <h4>Who we hire:</h4>
            <ul>
                <li>Chefs & Cooks</li>
                <li>Bartenders & Servers</li>
                <li>Managers</li>
                <li>Dishwashers</li>
            </ul>
        </div>

        <div class="column-6 images-right">
            <img src="/assets/img/parkside/1.png" draggable="false">
            <img src="/assets/img/parkside/2.png" draggable="false">
            <img src="/assets/img/parkside/3.png" draggable="false">
        </div>
    </div>
</section>

{# End Parkside Grille Section #}

{# SYNLawn Section #}

<section class="synlawn">
    <div class="synlawn__container container">
        <div class="column-6 images-left">
            <img src="/assets/img/synlawn/1.png" draggable="false">
            <img src="/assets/img/synlawn/2.png" draggable="false">
            <img src="/assets/img/synlawn/3.png" draggable="false">
        </div>

        <div class="column-6 content-right">
            <img src="/assets/img/synlawn/logo.png" alt="SYNLAWN FX" draggable="false">
            <h2>SYNLAWN FX</h2>
            <p>SYNLawn&reg; FX is the premier SYNLawn artificial landscape provider in Southwestern Ontario. We specialize in designing, installing, and maintaining the highest quality synthetic turf landscapes for residential and commercial use.</p>
            <a href="http://synlawnfx.com/http://www.innovativelifescapes.com/" target="_blank">Visit website</a>

            <h4>Who we hire:</h4>
            <ul>
                <li>Sales & Account Managers</li>
                <li>Foremen</li>
                <li>Installers</li>
                <li>Maintenance</li>
            </ul>
        </div>
    </div>
</section>

{# End SYNLawn Section #}

{# Innovative Lifescapes Section #}

<section class="innovative-lifescapes">
    <div class="innovative-lifescapes__container container">
        <div class="column-6 content-left">
            <img src="/assets/img/innovative-lifescapes/logo.png" alt="Innovative Lifescapes. Design. Build. Live." draggable="false">
            <h2>Innovative Lifescapes</h2>
            
            <p>Innovative Lifescapes is a boutique-style manufacturer of modern park model cottages. All of our units are designed by industry professionals and built by hand in our indoor facility in Belle River, Ontario.</p>
            <a href="http://www.innovativelifescapes.com/" target="_blank">Visit website</a>

            <h4>Who we hire:</h4>
            <ul>
                <li>Home Builders & Tradesmen</li>
                <li>Foremen</li>
                <li>Sales Managers</li>
                <li>Architects & Designers</li>
            </ul>
        </div>

        <div class="column-6 images-right">
            <img src="/assets/img/innovative-lifescapes/1.png" draggable="false">
            <img src="/assets/img/innovative-lifescapes/2.png" draggable="false">
            <img src="/assets/img/innovative-lifescapes/3.png" draggable="false">
        </div>
    </div>
</section>

{# End Innovative Lifescapes Section #}

{# The Drive Section #}

<section class="drive">    
    <div class="drive__container container">
        <div class="column-6 images-left">
            <img src="/assets/img/drive/1.png" draggable="false">
            <img src="/assets/img/drive/2.png" draggable="false">
            <img src="/assets/img/drive/3.png" draggable="false">
        </div>

        <div class="column-6 content-right">
            <img src="/assets/img/drive/logo.png" alt="The Drive" draggable="false">
            <h2>The Drive Magazine</h2>
            <p>The Drive Magazine is one of Windsor's longest standing and respected publications. The Drive’s primary mission is to shine a new light on people in our community, while offering an authentic and engaging reader experience.</p>
            <a href="https://www.thedrivemagazine.com/" target="_blank">Visit website</a>

            <h4>Who we hire:</h4>
            <ul>
                <li>Journalists & Writers</li>
                <li>Photographers</li>
                <li>Designers</li>
                <li>Sales Representatives</li>
            </ul>
        </div>
    </div>
</section>

{# End The Drive Section #}

{# Application Section #}

<section class="application" id="application">
    <div class="application__container container">
        <h3>Enough About Us</h3>
        <h2>Let's Talk About You</h2>
        <p>Again, <strong>we sincerely believe that you should love what you do</strong>. The first step to securing happiness in your career is finding the right career for you. With so many opportunities here at The Landscape Effects Group of Companies, we’re sure that there’s a fit for you.</p>
        <p>If you’re ready for a change, looking to be challenged, want to work with great people, or want to make the most out of your career, then help us find the path for you with <strong>#TeamLFX</strong>.</p>
        <p>All you have to do is fill out the form below and let us get to know you. We’ll try our best to match you with one of our current opportunities here at The Landscape Effects Group of Companies.</p>
        <p><strong>Let’s get started...</strong></p>

        <div class="form-wrapper">
            <form action="{{ path_for('home') }}" method="post" class="form" enctype="multipart/form-data">
                <div class="field">
                    <label for="name">What is your FIRST and LAST NAME?</label>
                    <input type="text" name="name" required>
                </div>

                <div class="field">
                    <label for="email">What is your EMAIL ADDRESS?</label>
                    <input type="email" name="email" required>
                </div>

                <div class="field">
                    <label for="phone">What is your PHONE NUMBER?</label>
                    <input type="tel" name="phone" required>
                </div>

                <div class="field">
                    <label for="city">What CITY do you currently live in?</label>
                    <input type="text" name="city" required>
                </div>

                <div class="field checkboxes">
                    <p>Which of our companies INTERESTS YOU the most?<br/>
                        <small>(You can select more than one)</small></p>
                    <label>
                        <input type="checkbox" name="companies[]" value="Landscape Effects Design Build">Landscape Effects Design Build
                        <span class="checkbox-button"></span>
                    </label>
                    <label>
                        <input type="checkbox" name="companies[]" value="Landscape Effects Property Management">Landscape Effects Property Management
                        <span class="checkbox-button"></span>
                    </label>
                    <label>
                        <input type="checkbox" name="companies[]" value="Rochester Place Golf Club & Resort">Rochester Place Golf Club & Resort
                        <span class="checkbox-button"></span>
                    </label>
                    <label>
                        <input type="checkbox" name="companies[]" value="Parkside Grille">Parkside Grille
                        <span class="checkbox-button"></span>
                    </label>
                    <label>
                        <input type="checkbox" name="companies[]" value="SYNLAWN FX">SYNLAWN FX
                        <span class="checkbox-button"></span>
                    </label>
                    <label>
                        <input type="checkbox" name="companies[]" value="Innovative Lifescapes">Innovative Lifescapes
                        <span class="checkbox-button"></span>
                    </label>
                    <label>
                        <input type="checkbox" name="companies[]" value="The Drive Magazine">The Drive Magazine
                        <span class="checkbox-button"></span>
                    </label>
                </div>

                <div class="field">
                    <label for="interests">What are some of your INTERESTS and HOBBIES?</label>
                    <textarea name="interests" required></textarea>
                </div>

                <div class="field">
                    <label for="motivation">What MOTIVATES you?</label>
                    <textarea name="motivation" required></textarea>
                </div>

                <div class="field">
                    <label for="careerNeeds">What do you NEED out of your career?</label>
                    <textarea name="careerNeeds" required></textarea>
                </div>

                <div class="field">
                    <label for="careerWants">What do you WANT out of your career?</label>
                    <textarea name="careerWants" required></textarea>
                </div>

                <div class="field">
                    <label for="wowed">Describe the last time you were WOWED by something or someone</label>
                    <textarea name="wowed" required></textarea>
                </div>

                <div class="field">
                    <label for="island">You're going to be trapped on a deserted island. You can bring any 3 items (excluding any electronic devices). What do you bring with you and why?</label>
                    <textarea name="island" required></textarea>
                </div>

                <div class="field">
                    <label for="previousJobs">Rate your last 3 jobs by BEST to WORST and explain your decisions</label>
                    <textarea name="previousJobs" required></textarea>
                </div>

                <div class="field">
                    <label for="additionalInfo">What else would you like us to know about YOU?</label>
                    <textarea name="additionalInfo" required></textarea>
                </div>

                <div class="field upload-field">
                    <p>Finally, upload your resume<br/>
                        <small>If you don't have it now you can email it later to <strong><a href="mailto:wow@careersatlfx.com">wow@careersatlfx.com</a></strong></small></p>
                    <label class="button"><input type="file" name="resume">Upload</label>
                    <span class="fileName"></span>
                </div>

                <p>Here we go...</p>
                <button class="button submit">Submit and let the journey begin</button>
            </form>
        </div>
    </div>
</section>

{# End Application Section #}

{# Footer #}

<footer class="footer">
    <div class="footer__container container">
        <p>Thanks for taking the time to tell us about yourself. You should hear back from one of our team members within a couple of business days.</p>
        <p>While you wait, make sure you follow us on social media to stay up with other exciting <strong>#TeamLFX</strong> news and announcements.</p>

        <div class="socials">
            <a href="https://www.facebook.com/Landscape-Effects-644331938995519/" target="_blank">
                <img src="/assets/img/facebook.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/landscape_effects/" target="_blank">
                <img src="/assets/img/instagram.png" alt="Instagram">
            </a>
            <a href="#0" target="_blank">
                <img src="/assets/img/twitter.png" alt="Twitter">
            </a>
        </div>
    </div>
</footer>

{# End Footer #}
    
{% endblock %}